h2{
    color: red;
    font-size: 300%;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

h3{
    color: red;
    font-size: 200%;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

p{
    font-family:'Times New Roman', Times, serif;
    font-size: 200%;
}